/* body * { border: 1px solid green; } */
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #676f75;
}

.top-bar {
    display: inline-block;
    height: 50px;
    width: 100%;
    background-color: #d5dee6;
}

.top-bar .title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 45px;
    margin-left: 50px;
}

.top-bar .title span {
    color: #2391da;
}

.content { 
    display: inline-block;
    background-color: #ebeff1;
    /* height: calc(100vh - 55px); */
    height: 100%;
    width: 100%;
}

.left-pane {
    margin-top: -5px;
    float: left;
    width: 200px;
    height: 100%;
    /* min-height: calc(100vh - 55px); */
    background-color: #ebeff1;
    border-left: 1px solid #e4e5e6;
    border-right: 1px solid #e4e5e6;
}

.avatar-container {
    text-align: center;
    margin-top: 17px;
    margin-bottom: 36px;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    text-align: center;
}

.navigation {
    text-align: left;
}

.navigation li {
    cursor: pointer;
    display: inline-block;
    height: 45px;
    width: 100%;
    line-height: 45px;
    border-top: 1px solid #e4e5e6;
    border-bottom: 1px solid #e4e5e6;
    border-right: 0;
    counter-increment: count;
}

.navigation li:hover {
    color: #a7afb4;
}

ol {
    /* list-style-type: decimal-leading-zero; */
    list-style: none;
    padding: 0;
}

ol li:before {    
    border-right: 1px solid #e4e5e6;
    display: inline-block;
    text-align: center;
    width: 45px;
    font-family: 'FontAwesome';
    content: counter(count, decimal-leading-zero);
    /* margin:0 50px 0 -30px; */
    /* color: #f00; */
}

/* ol li::after {  border: 1px solid green;
    display: inline-block;
    width: 100%;
    height: 45px;
    content: '';
} */

li span {
    margin-left: 15px;
    /* border: 1px solid red; */
    display: inline-block;
    width: 15px;
}

/* RIGHT PANE */
.right-pane {
    height: 100%;
    margin-top: -5px;
    width: calc(100% - 203px);
    float: left;
}
.top-bar2 { 
    display: inline-block;
    height: 50px;
    width: 100%;
    background-color: #f1f0eb;
}

.examples {
    display: inline-block;
    background-color: #fff;
    text-align: center;
    height: 300px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.examples-content {
    width: 100%;
    height: 100%;
}

.examples img {
    height: 250px;
    margin: 25px 1% 25px 1%;
    border: 1px solid #676f75; 
    /* padding: 1px; */
}

@keyframes examples {
    0% {
        margin-left: 150vh;
    }

    100% {
        margin-left: 40px;
    }
}

/* .glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
} */

.examples img:hover { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.bar-container {
    overflow-x: scroll;
}

.full-scope-bar {
    position: relative;
    display: inline-block;
    height: 6px;
    width: 80%;
    margin-left: 10%;
    background-color: #fff;
    border-radius: 6px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.full-scope-bar span {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Roboto Condensed', sans-serif;
    color: #676f75;
    font-size: 12px;
    /* line-height: 50px; */
}

.full-scope-progress {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 6px;
    background-color: #4257d0;
    border-radius: 6px;
}

.stop1,
.stop2,
.stop3,
.stop4,
.stop5,
.stop6,
.stop7,
.stop8 {
    position: absolute;
    top: -12px;
    left: 0;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
}

.stop1 i,
.stop2 i,
.stop3 i,
.stop4 i,
.stop5 i,
.stop6 i,
.stop7 i,
.stop8 i  {
    line-height: 30px;
    font-size: 15px;
}

.stop1 {
    /* background-color: #84b041; */
    background-color: #aeb9c2;

}

.stop2 {
    /* background-color: #e74d3d; */
    background-color: #aeb9c2;
    left: 14%;
}

.stop3 {
    /* background-color: #f39c12; */
    background-color: #aeb9c2;
    left: 32%;
}

.stop4 {
    /* background-color: #3498db; */
    background-color: #aeb9c2;
    left: 44%;
}

.stop5 {
    /* background-color: #4cd46c; */
    background-color: #aeb9c2;
    left: 66%;
}

.stop6 {
    /* background-color: #4cd46c; */
    /* background-color: #aeb9c2; */
    left: 100%;
}

.stop7 {
    /* background-color: #4cd46c; */
    background-color: #aeb9c2;
}

.stop2 span,
.stop4 span,
.stop6 span {
    top: -24px;
}

.stop6 span { 
    width: 60px;
    left: -30px;
}

.stop7 span,
.stop8 span { 
    width: 160px;
}

.stop6 .spn1,
.stop7 .spn1,
.stop8 .spn1 {
    top: -5px;
    font-size: 10px;
}

.stop6 .spn2,
.stop7 .spn2,
.stop8 .spn2 {
    top: 30px;
    font-size: 8px;
}

.stop7 .job {
    color: #4257d0;

}

.dashboard {
    text-align: center;
    display: inline-block;
    background-color: #ebeff1;
    /* min-height: calc(100vh - 410px); */
    height: calc(100% - 358px);
    width: 100%;
}

.example-description,
.progress-bar {
    width: 90%;
    border-top: 1px solid rgb(250, 250, 250);
    /* background-color: #f1f0eb; */
    display: inline-block;
    margin-bottom: 60px;
}

.example-description h1 {
    margin: 0;
    margin-left: 10px;
    font-size: 20px;
}

.example-description h3 {
    font-size: 15px;
    margin: 20px 0 5px 10px;
}

.example-description p,
.example-description li
{
    margin: 0 30px;
    font-size: 14px;
    font-weight: lighter;
}

.desc-left,
.desc-right
{
    float: left;
    margin-top: 30px;
}

.desc-left {
    width: 39%;
}

.desc-left ul {
    padding-left: 10px;
}

.desc-right {
    width: 60%;
}

.desc-left i {
    padding: 1px;
    border-radius: 100%;
    color: #4158d0;
    margin-right: 15px;
}

.desc-left i:hover { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.desc-left .git {
    margin-left: 25px;
    font-size: 30px;
    margin-top: 30px;
}

/* MEDIA */

@media (max-width: 745px) {
    .desc-left {
        display: block;
        width: 100%;
    }

    .desc-right {
        display: block;
        width: 100%;
    }
}

@media (max-width: 650px) {
    .full-scope-bar {
        width: 180%;
    }

    .left-pane {
        display: block;
        width: 100%;
    }

    .right-pane {
        display: block;
        width: 100%;
        margin-top: -15px;
    }

    .top-bar2 {
        display: none;
    }

    .examples {
        display: block;
        width: 100%;
    }
}

@media (max-width: 414px) {
    .examples img {
       width: 90%;
       height: auto;
   }
}

@media (max-width: 411px) {
    .examples img {
       width: 90%;
       height: auto;
   }
}

@media (max-width: 360px) {
    .examples img {
       width: 90%;
       height: auto;
   }
}