/* https://www.dottedsquirrel.com/circular-progress-css/ */


  .circular{
    height: 150px;
    width: 150px;
    position: relative;  
  }

  .circular .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 136px;
    width: 136px;
    margin: -68px 0 0 -68px;
    background: #ebeff1;
    border-radius: 100%;
  }

  .circular .number{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:10;
    font-size:18px;
    font-weight:500;
    color:#4158d0;
  }

  .circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(250, 250, 250);
    -webkit-border-radius: 100%;
    clip: rect(0px, 150px, 150px, 75px);
  }

  .circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 75px, 150px, 0px);
    /* background: #e74d3d; */
  }

  .number i {
    font-size: 30px;
    padding-bottom: 10px;
  }

/* ANIMATE */

/* .circle .left .progress{
    z-index:1;
    animation: left .4s linear both;
    animation-delay:.4s;
  } */
  /* @keyframes left{
    100%{
      transform: rotate(180deg);
    }
  } */
  .circle .right {
    transform: rotate(180deg);
    z-index:3;
   
  }
  /* .circle .right .progress{
    animation: right .4s linear both;
    animation-delay:.4s; 
  } */
  /* @keyframes right{
    100%{
      transform: rotate(180deg);
    }
  } */

  .progress-bar {
    display: inline-block;
  }

.progress-bar1,
.progress-bar2,
.progress-bar3,
.progress-bar4 {
    float: left;
    padding: 50px 0 50px 6.4%;
    text-align: center;
}

.color1 {
    background: #e74d3d;
}

.color2 {
    background: #f39c12;
}

.color3 {
    background: #3498db;
}

.color4 {
    background: #4cd46c;
}

.label1 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

.label2 {
    font-size: 14px;
}



@media (max-width: 745px) {
  .circular {
      transform: scale(0.7);
  }

  .progress-bar1,
  .progress-bar2,
  .progress-bar3,
  .progress-bar4 {
    float: left;
    padding: 30px 0 0 6.4%;
    text-align: center;
}

.progress-bar {
  margin-bottom: 50px;
}

.label1 {
  margin-top: 0;
}
}

@media (max-width: 414px) {
  .circular {
    transform: scale(0.5);
}
.progress-bar1,
.progress-bar2,
.progress-bar3,
.progress-bar4 {
  padding: 0 0 0 1%;
}

.progress-bar {
  margin-bottom: 35px;
}

.label1 {
  margin-top: -20px;
}
}

/* @media (max-width: 375px) {
  body * { border: 1px solid red;}
  .progress-bar1,
  .progress-bar2,
  .progress-bar3,
  .progress-bar4 {
    display: block;
    width: 100%;
    padding: 0;
}
} */